#playGround {
  position: absolute;
  left: 50%;
  transform: translate(-300px, 50px);
  width: 600px;
  height: 600px;
  background: white;
}

#alert {
  width: 500px;
  text-align: center;
  height: 400px;
  background: white;
  border: 1px solid black;
  position: absolute;
  left: 50%;
  transform: translate(-250px, 30px);
}

#sign tr td {
  width: 250px;
}

#type {
  text-align: left;
  position: relative;
  left: 1em;
}

#type div {
  margin: 10px auto;
  padding: 10px auto;
}
